*~
*.d
*.o
*.tmp
*.swp
*.swo
*.dwo
/*.dtbo
/hwstamp_ctl
/phc2sys
/pmc
/ptp4l
build/
bin/
.tmp_versions/
qot-stack.sublime-project
qot-stack.sublime-workspace
*.log

# CMake Files
CMakeCache.txt
*.cmake
CMakeFiles/

# Kernel Binaries
*.ko
*.cmd
*.symvers
*.order
*.mod.c

