KERNEL=="qotadm",   MODE="0600"
KERNEL=="qotusr",   MODE="0666"
SUBSYSTEM=="ptp",ATTR{clock_name}=="AM335x timer",SYMLINK+="clock_am335x"
SUBSYSTEM=="ptp",ATTR{clock_name}=="CPTS timer",SYMLINK+="clock_cpts"
