KERNEL=="qot", MODE="0666"
SUBSYSTEM=="ptp",ATTR{clock_name}=="AM335x timer",SYMLINK+="ptp_core"
SUBSYSTEM=="ptp",ATTR{clock_name}=="CPTS timer",SYMLINK+="ptp_cpts"
