/.qot.ko.cmd
/.qot.mod.o.cmd
/.qot.o.cmd
/.qot_chardev_adm.o.cmd
/.qot_chardev_usr.o.cmd
/.qot_core.o.cmd
/Module.symvers
/modules.order
/qot.ko
/qot.mod.c
/qot.mod.o
/qot.o
/qot_chardev_adm.o
/qot_chardev_usr.o
/qot_core.o
/.qot_sysfs.o.cmd
/qot_sysfs.o
